<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EasyBar.Windows.Properties.Clienteconfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EasyBar.Windows.Properties.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BarTumEntities" connectionString="metadata=res://*/BarTum.csdl|res://*/BarTum.ssdl|res://*/BarTum.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\bartum;Initial Catalog=BARTUM;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <EasyBar.Windows.Properties.Clienteconfig>
      <setting name="primeiro_acesso" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServidorIP" serializeAs="String">
        <value>192.168.1.122</value>
      </setting>
      <setting name="tipo" serializeAs="String">
        <value>cliente</value>
      </setting>
      <setting name="ServidorPorta" serializeAs="String">
        <value>2020</value>
      </setting>
    </EasyBar.Windows.Properties.Clienteconfig>
  </userSettings>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <add key="DefaultCulture" value="pt-BR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>