<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="BarTumEntities" connectionString="metadata=res://*/BarTum.csdl|res://*/BarTum.ssdl|res://*/BarTum.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\bartum;Initial Catalog=BARTUM;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>